/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
	margin: 0;
	overflow: hidden; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-toolbar-row, .mat-toolbar-multiple-rows {
	height: 30px !important;
	min-height: 30px !important;
}

.k-upload .k-upload-files .k-file {
	padding: 5px;
}

.k-upload .k-upload-files {
	max-height: none;
	overflow-y: unset;
}

/*flex*/
.log-container {
	margin: 0 auto;
	height: 100%;
	padding: 0 15px;
}