<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="padd-title-header linkText" (click)="isUploadCardExpanded = !isUploadCardExpanded">
          Завантаження Logs-файлів
        </mat-card-title>
    </mat-card-header>
    <mat-card-content [style.display]="isUploadCardExpanded ? 'none' : 'block'">
        <div class="row">
            <div class="col-md-10">
                <kendo-upload *ngIf="uploadSaveUrl"
                [saveUrl]="uploadSaveUrl"
                [restrictions]="myRestrictions"
                [removeUrl]="uploadRemoveUrl"
                [withCredentials]="false"
                (select)="onSelectEventHandler($event)"
                (remove)="onRemoveEventHandler($event)"
                (success)="onSuccessEventHandler($event)"
                (error)="onErrorEventHandler($event)">
                <kendo-upload-messages select="Обрати файл"
                        invalidFileExtension="Недопустимий тип файла"
                        uploadSelectedFiles="Завантажити обрані файли"
                        clearSelectedFiles="Очистити вибрані файли"
                        cancel="Відмінити"
                        dropFilesHere="Перетягніть файли сюди"
                        headerStatusUploaded="Завантажено"
                        headerStatusUploading="Завантажується"
                        invalidFiles="Недопустимі файли"
                        invalidMaxFileSize="Недопустимий розмір файлу"
                        remove="Видалити"
                        retry="Спробувати ще раз">
                </kendo-upload-messages>
            </kendo-upload>
            </div>
            <div class="col-md-2">
                <div class="run-process-files">
                    <div class="process-header">
                        <button class="k-button" (click)="onRunProcessFiles()">Обробити усі</button>
                    </div>
                    <div *ngFor="let process of servProcessLogFiles.processingFiles" class="process-file-status">   
                        <div [ngSwitch]="process.processState">                            
                            <div *ngSwitchCase="0" class="errorBlock">
                               <span (click)="onShowDetailsError(process)" class="errorTxt">Помилка</span>
                            </div>
                            <div *ngSwitchCase="1" class="spinnerBlock">
                                <mat-spinner [diameter]="22" style="left: 50%;"></mat-spinner>
                            </div>
                            <div *ngSwitchCase="2" class="complateBlock">
                                <mat-icon aria-hidden="false" aria-label="Оброблено">done_outline</mat-icon>
                            </div>
                            <div *ngSwitchCase="3">
                                <button class="k-button" (click)="onRunProcessSinglFile(process)" [disabled]="process.uploadedFile.state != 3">Обробити</button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>       
    </mat-card-content> 
</mat-card>