<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title class="padd-title-header link-text" (click)="isUploadCardExpanded = !isUploadCardExpanded">
				{{ 'ProcesLogFilesPage.UploadLogsSection.Title' | translate }}
			</mat-card-title>
		</mat-card-header>
		<mat-card-content [style.display]="isUploadCardExpanded ? 'none' : 'block'">
			<div class="file-upload">
            <div class="uploader">
					<kendo-upload *ngIf="uploadSaveUrl"
						[saveUrl]="uploadSaveUrl"
						[restrictions]="myRestrictions"
						[removeUrl]="uploadRemoveUrl"
						[withCredentials]="false"
						(select)="onSelectEventHandler($event)"
						(remove)="onRemoveEventHandler($event)"
						(success)="onSuccessEventHandler($event)"
						(error)="onErrorEventHandler($event)">
							<kendo-upload-messages select="{{ 'ProcesLogFilesPage.UploadLogsSection.BtnSelectFiles' | translate }}"
								invalidFileExtension="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderInvalidFileExtension' | translate }}"
								uploadSelectedFiles="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderUploadSelectedFiles' | translate }}"
								clearSelectedFiles="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderClearSelectedFiles' | translate }}"
								cancel="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderCancel' | translate }}"
								dropFilesHere="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderDropFilesHere' | translate }}"
								headerStatusUploaded="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderHeaderStatusUploaded' | translate }}"
								headerStatusUploading="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderHeaderStatusUploading' | translate }}"
								invalidFiles="invalid files"
								invalidMaxFileSize="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderInvalidMaxFileSize' | translate }}"
								remove="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderRemove' | translate }}"
								retry="{{ 'ProcesLogFilesPage.UploadLogsSection.UploaderRetry' | translate }}">
							</kendo-upload-messages>
					</kendo-upload>
            </div>
            <div class="actions">
					<div class="process-header">
						<button class="k-button" (click)="onRunProcessFiles()">{{ 'ProcesLogFilesPage.UploadLogsSection.BtnProcessAll' | translate }}</button>
					</div>
					<div *ngFor="let process of servProcessLogFiles.processingFiles" class="process-file-status">
						<div [ngSwitch]="process.processState">
								<div *ngSwitchCase="0" class="error-block">
									<button class="k-button error-txt" (click)="onShowDetailsError(process)">{{ 'ProcesLogFilesPage.UploadLogsSection.BtnError' | translate }}</button>
								</div>
								<div *ngSwitchCase="1" class="spinner-block">
									<mat-spinner [diameter]="22" style="left: 50%;"></mat-spinner>
								</div>
								<div *ngSwitchCase="2" class="complate-block">
									<mat-icon aria-hidden="false" aria-label="Оброблено">done_outline</mat-icon>
								</div>
								<div *ngSwitchCase="3">
									<button class="k-button" (click)="onRunProcessSingleFile(process)" [disabled]="process.uploadedFile.state != 3">{{ 'ProcesLogFilesPage.UploadLogsSection.BtnProcess' | translate }}</button>
								</div>
							</div>
					</div>
				</div>
			</div>
		</mat-card-content>
</mat-card>
