.mat-card {
	padding: 10px;
}

.padd-title-header {
	font-size: 16px;
	margin-bottom: 3px !important;
}

.link-text:hover {
	cursor: pointer;
	text-decoration: underline;
}

.run-process-files {
	border-top: 1px solid rgba(0,0,0,0.08);
	border-left: 1px solid rgba(0,0,0,0.08);
	border-right: 1px solid rgba(0,0,0,0.08);
	color: #656565;
	height: 100%;
}

.process-header {
	text-align: center;
	background-color: #f6f6f6;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	color: #656565;  
	padding: 6px;
}

.process-file-status {
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	color: #656565;  
	padding: 12px;
}

.error-txt {
	color: #ff0000;
	text-decoration: underline;
}

.error-txt:hover {   
	cursor: pointer;
}

.error-block {
	padding: 4px;
}


.spinner-block {
	padding: 4px;
	text-align: center;
}

mat-icon {
	color: #00d000;
}

.file-upload {
	display: flex;

	.uploader {
		flex-basis: 100%;
	}

	.actions {
		
	}
}