<div class="error-settings"> 
		<p>
			<mat-form-field class="example-full-width">
					<mat-label>{{'AnalysisErorPage.UnKnownErrorSection.ErrorSettings.StatusError' | translate}}</mat-label>
					<input  matInput [readonly]="true" [required]="true" [value]="geStatusCodeTitle"/>
					<button
						mat-icon-button
						matSuffix
						class="localizable-icon"
						(click)="onOpenStatusDialog()">
						<mat-icon class="example-icon" aria-hidden="false" aria-label="Settings icon">settings</mat-icon>
					</button>
			</mat-form-field>            
		</p>
		<p>
			<mat-form-field appearance="outline">
					<mat-label>{{'AnalysisErorPage.UnKnownErrorSection.ErrorSettings.AnswersCases' | translate}}</mat-label>
					<textarea matInput placeholder="Задати рішення" [(ngModel)]="answer.text"></textarea>
			</mat-form-field>
		</p>
		<p align="end">
			<button mat-stroked-button (click)="onSaveAnswer()">{{'AnalysisErorPage.UnKnownErrorSection.ErrorSettings.BtnSave' | translate}}</button>
		</p>
</div>
