mat-card {
    padding: 2px !important;

    .toggle-button {

        .mat-button-toggle-label-content {
            line-height: 0 !important;
            padding: 5px !important;
        }
    }
    
    .action-button {
    
        button {
            min-width: unset !important;
            padding: 0 5px !important;
        }
    }
}