.process-div {
    padding: 5px 0;
    display: block;
}

.paddSuccesContent {
    padding-top: 5%;
}

.paddSuccessButton {
    padding:40px;
    font-size: 20px;
}

button:hover {
    background-color: lightgreen;
}