<mat-card class="example-card">
	<mat-card-header class="card-form-header">
		<mat-card-title>{{'AnalysisErorPage.UnKnownErrorSection.ErrorSettings.DialogSettings.SelectedStatus.Title' | translate}}</mat-card-title>        
	</mat-card-header>
	<mat-card-content>
		<div class="example-container">
			<mat-form-field>
					<mat-label>{{'AnalysisErorPage.UnKnownErrorSection.ErrorSettings.DialogSettings.SelectedStatus.NameTitle' | translate}}</mat-label>
					<input matInput [value]="model?.title" [readonly]="true">
			</mat-form-field>
			<br>
			<mat-form-field>
					<mat-label>{{'AnalysisErorPage.UnKnownErrorSection.ErrorSettings.DialogSettings.SelectedStatus.CodeTitle' | translate}}</mat-label>
					<input matInput [value]="model?.code" [readonly]="true">
			</mat-form-field>
			<br>            
			<mat-form-field>
					<mat-label>{{'AnalysisErorPage.UnKnownErrorSection.ErrorSettings.DialogSettings.SelectedStatus.KeyWordsTitle' | translate}}</mat-label>
					<textarea matInput [value]="model?.keyWords" [readonly]="true"></textarea>
			</mat-form-field>
		</div>
	</mat-card-content>
</mat-card>