<h1 mat-dialog-title>Розширити фільтр запиту</h1>
<div mat-dialog-content>
	<div class="query-block">
		<div class="query-tree">
			<p class="query-header">Властивості JSON об'єкта</p>
			<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
				<mat-tree-node
					*matTreeNodeDef="let node"
					matTreeNodeToggle
					matTreeNodePadding>
					<button mat-icon-button disabled></button>						
						<mat-checkbox
							[disabled]="node.isExistQuery"
							class="checklist-leaf-node"
							[checked]="checklistSelection.isSelected(node) || node.isExistQuery"
							(change)="todoLeafItemSelectionToggle(node)"
							>{{ node.name }}
						</mat-checkbox>
				</mat-tree-node>
		
				<mat-tree-node
					*matTreeNodeDef="let node; when: hasChild"
					matTreeNodePadding>
				<button
					mat-icon-button
					matTreeNodeToggle
					[attr.aria-label]="'Toggle ' + node.name">
					<mat-icon class="mat-icon-rtl-mirror">
						{{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
					</mat-icon>
					</button>
					<mat-checkbox
						[disabled]="node.isExistQuery"
						[checked]="descendantsAllSelected(node)"
						[indeterminate]="descendantsPartiallySelected(node) || node.isExistQuery"
						(change)="todoItemSelectionToggle(node)">
						{{ node.name }}
					</mat-checkbox>
				</mat-tree-node>
			</mat-tree>
		</div>
		<div class="query-settings">
			<p class="query-header">Налаштування нових запитів</p>
			<ul>
				<li *ngFor="let item of queriesToSettins">
					{{item.queryPath}} : 
					<mat-form-field class="example-form-field">
						<mat-label>Назва</mat-label>
						<input matInput type="text" [(ngModel)]="item.name" required>
					</mat-form-field>
				</li>
			</ul>
		</div>
	</div>
</div>
<div mat-dialog-actions align="end">
	<button mat-button (click)="onNoClick()">Відміна</button>
	<button mat-button [mat-dialog-close]="queriesToSettins" cdkFocusInitial [disabled]="isNotValidSettings">
		Додати
	</button>
</div>
