// mat-card {
//     height: 100%;

//     .card-form-header:hover {
//         cursor: pointer;
//     }

//     mat-form-field {
//         width: 100%;
//     }

	// mat-card-header {
	// 	width: 100%;

	// 	.mat-icon-button {
	// 		width: 30px;
	// 		height: 30px;

	// 		mat-icon {
	// 				font-size: 21px;
	// 		}
	// 	}
	// }

// }



.card-form-header {
	display: flex;
	width: 100%;
	justify-content: space-between;

	.mat-icon-button {
		width: 30px;
		height: 30px;
		line-height: 30px;

		mat-icon {
			font-size: 21px;
		}
	}
}