<div class="dialog-header">
	<h1 mat-dialog-title>Задати статус</h1>
	<button mat-icon-button  *ngIf="!showAddNewStatus"
		aria-label="add new error status" 
		matTooltip="Додати новий"
		(click)="onShowAddForm()">
		<mat-icon>add</mat-icon>
	</button>
</div>
<mat-dialog-content>
	<div class="status-block">
		<div class="status-tree">
			<app-error-statuses-tree *ngIf="errorStstusesData"
				[dataSource]="errorStstusesData"
				(selectedStatusItem)="onTreeSelectedItem($event)">
			</app-error-statuses-tree>
		</div>
		<div class="status-form" *ngIf="showAddNewStatus && newErrorStatusesModel">
			<app-error-status-form
				[model]="newErrorStatusesModel"
				(addNewModel)="onSaveNewStatus($event)">          
			</app-error-status-form>
		</div>
	</div>
	<div class="selected-status" *ngIf="!showAddNewStatus">
		<app-selected-status *ngIf="selectedItem"	[model]="selectedItem"></app-selected-status>
	</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Ні</button>
	<button mat-button [mat-dialog-close]="selectedItem" cdkFocusInitial>Так</button>
</mat-dialog-actions>